.history {
    opacity: 0;
    transform: scale(0.5);
    animation: scaleUp 1s ease-out forwards;
  }
  
  @keyframes scaleUp {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
.intro{
    opacity: 0;
    transform: translateX(-100%); 
    animation: slideInLeft 1s forwards;
  }
  
  @keyframes slideInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
 
.values {
    opacity: 0;
    transform: scale(0.5);
    animation: scaleUp 1s ease-out forwards;
  }
  
  @keyframes scaleUp {
    to {
      opacity: 1;
      transform: scale(1); 
    }
  }
 
.gallery {
    opacity: 0;
    animation: fadeIn 1 forwards; 
  }
  
 
  @keyframes fadeIn {
    to {
      opacity: 1;
    }


  }
 .navbar{
  display: flex;
  padding: 10px;
  gap: 200px;

}
.navbar{
  color: rgb(18, 16, 16);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 7px 0;
  margin: 30px 150px;
  transition: all .50s ease;
}
.navbar :hover{
  color: gray;
}
.navbar .active{
color:rgb(21, 20, 20);
}
.navbar :hover{
  color: gray;
}
