.navbar{
    display: flex;
    padding: 10px;
    gap: 200px;
    justify-items: center;

}
.navbar{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 7px 0;
    margin: 30px 150px;
    transition: all .50s ease;
}
.navbar :hover{
    color: pink;
}
.navbar .active{
color:white;
}
.navbar :hover{
    color: pink;
}
